
.content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    z-index: -1;
}

.banner {
    position: relative;
    height: 35em;
    z-index: -1;
    background-image: url(../images/solitude_by_atlas091_d9s851d-pre.jpg);
    background-position: 50%;
    background-size: cover;

    .container-banner{
        position: relative;
        top: 40%;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1140px;  
    }

    .container-banner > span {
        color: white;
        background: linear-gradient(180deg,#FFF 35%,#837a73);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 8em;
        font-weight: 700;
    }

    .badge {
        width: 3em;
        border-radius: 6px;
        font-weight: 700;
        font-size: 2em;
        background-color: black;
        color: white;
        padding: 5px 4px;
        position: absolute;
        display: inline-block;
    }

    .slogan > span {
        font-size: 1.5em;
        font-weight: 600;
        display: block;
        position: relative;
        bottom: 1.1em;
        
    }
}

.vh-100 {
    height: 100vh !important;
}

.overflow-hidden {
    overflow: hidden !important;
}