.clear {
    clear: both;
}
.how-we-work{
    width: 100%;
    height: 35em;
    position: relative;
    top: 42em;
    z-index: -2;

    .img-dev {
        background-image: url('../images/undraw_Developer_activity_re_39tg.svg');
        width: 20em;
        height: 20em;
        background-size: cover;
        float: left;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 10%;
    
    }   

    p{
        position: relative;
        float: right;
        width: 50%;
        top: 50%;
        bottom: 50%;
        transform: translate(0, -50%);
        text-align: justify;
        margin-right: 10%;
    }

}

